<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Great City Principles</h1>
  <br>
  <br>
  <div class="row">
  <div class="card-grid">
    <% @principles.each do |principle| %>
    <% if principle.image.exists? %>

  <div class=" card-prev" data-toggle="modal" data-target="#myModal<%= principle.id %>">
  <%= (image_tag principle.image.url(:medium), class: 'img-responsive img-thumbnail') %>
  <div class="card-prev-text">
    <h3><%= principle.title.to_s.force_encoding("UTF-8") %></h3>
    <p><%= principle.author.to_s.force_encoding("UTF-8") %></p>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal<%= principle.id %>" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= principle.title.to_s.force_encoding("UTF-8") %></h4>
        </div>
        <div class="modal-body">
         <table>
          <tr>
            <th><b>Author:<b></th>
            <td><%= principle.author.to_s.force_encoding("UTF-8") %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= simple_format(principle.description) %></td>
          </tr>
          <tr>
            <td></td>
            <td>  An example of this principle at work: <%= link_to principle.casestudy, principle.case_webpage %></td>
          </tr>

        </table>

        </div>
        <div class="modal-footer">
          <% if has_role? (:admin) %>
           <%= link_to 'Edit', edit_principle_path(principle) %>
           <%= link_to 'Destroy', principle, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
       <% end %>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
<% end %>

    <% end %>
  </div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Principle', new_principle_path, class: "btn btn-link" %>
<% end %>

<br>
<br>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>

</div>
